-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: modeloDimensionalViagem
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dimdata`
--

DROP TABLE IF EXISTS `dimdata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dimdata` (
  `idDimData` int NOT NULL AUTO_INCREMENT,
  `dia` int NOT NULL,
  `mes` int NOT NULL,
  `ano` int NOT NULL,
  `diaSemana` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`idDimData`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dimdata`
--

LOCK TABLES `dimdata` WRITE;
/*!40000 ALTER TABLE `dimdata` DISABLE KEYS */;
/*!40000 ALTER TABLE `dimdata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dimmotorista`
--

DROP TABLE IF EXISTS `dimmotorista`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dimmotorista` (
  `idDimMotorista` int NOT NULL AUTO_INCREMENT,
  `nomeMotorista` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idDimMotorista`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dimmotorista`
--

LOCK TABLES `dimmotorista` WRITE;
/*!40000 ALTER TABLE `dimmotorista` DISABLE KEYS */;
/*!40000 ALTER TABLE `dimmotorista` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dimrota`
--

DROP TABLE IF EXISTS `dimrota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dimrota` (
  `idDimRota` int NOT NULL AUTO_INCREMENT,
  `distanciaKm` int NOT NULL,
  `centroOrigem` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `centroDestino` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idDimRota`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dimrota`
--

LOCK TABLES `dimrota` WRITE;
/*!40000 ALTER TABLE `dimrota` DISABLE KEYS */;
/*!40000 ALTER TABLE `dimrota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dimveiculo`
--

DROP TABLE IF EXISTS `dimveiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dimveiculo` (
  `idDimVeiculo` int NOT NULL AUTO_INCREMENT,
  `tipoVeiculo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ano` int NOT NULL,
  PRIMARY KEY (`idDimVeiculo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dimveiculo`
--

LOCK TABLES `dimveiculo` WRITE;
/*!40000 ALTER TABLE `dimveiculo` DISABLE KEYS */;
/*!40000 ALTER TABLE `dimveiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fatoviagem`
--

DROP TABLE IF EXISTS `fatoviagem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fatoviagem` (
  `idDimRota` int NOT NULL,
  `idDimMotorista` int NOT NULL,
  `idDimVeiculo` int NOT NULL,
  `idDimDataChegada` int NOT NULL,
  `tempoViagem` int NOT NULL,
  `difTemPrevReal` int NOT NULL,
  `numeroEncomendas` int NOT NULL,
  KEY `idDimRota` (`idDimRota`),
  KEY `idDimMotorista` (`idDimMotorista`),
  KEY `idDimVeiculo` (`idDimVeiculo`),
  KEY `idDimDataChegada` (`idDimDataChegada`),
  CONSTRAINT `fatoviagem_ibfk_1` FOREIGN KEY (`idDimRota`) REFERENCES `dimrota` (`idDimRota`),
  CONSTRAINT `fatoviagem_ibfk_2` FOREIGN KEY (`idDimMotorista`) REFERENCES `dimmotorista` (`idDimMotorista`),
  CONSTRAINT `fatoviagem_ibfk_3` FOREIGN KEY (`idDimVeiculo`) REFERENCES `dimveiculo` (`idDimVeiculo`),
  CONSTRAINT `fatoviagem_ibfk_4` FOREIGN KEY (`idDimDataChegada`) REFERENCES `dimdata` (`idDimData`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fatoviagem`
--

LOCK TABLES `fatoviagem` WRITE;
/*!40000 ALTER TABLE `fatoviagem` DISABLE KEYS */;
/*!40000 ALTER TABLE `fatoviagem` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-16 18:55:29
