-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: dblogistica
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `centrosdistribuicao`
--

DROP TABLE IF EXISTS `centrosdistribuicao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `centrosdistribuicao` (
  `id_centro` int NOT NULL AUTO_INCREMENT,
  `nome_centro` varchar(100) DEFAULT NULL,
  `estados_id_estados` int NOT NULL,
  `cidades_id_cidade` int NOT NULL,
  PRIMARY KEY (`id_centro`),
  KEY `fk_centrosdistribuicao_estados1_idx` (`estados_id_estados`),
  KEY `fk_centrosdistribuicao_cidades1_idx` (`cidades_id_cidade`),
  CONSTRAINT `fk_centrosdistribuicao_cidades1` FOREIGN KEY (`cidades_id_cidade`) REFERENCES `cidades` (`id_cidade`),
  CONSTRAINT `fk_centrosdistribuicao_estados1` FOREIGN KEY (`estados_id_estados`) REFERENCES `estados` (`id_estados`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `centrosdistribuicao`
--

LOCK TABLES `centrosdistribuicao` WRITE;
/*!40000 ALTER TABLE `centrosdistribuicao` DISABLE KEYS */;
INSERT INTO `centrosdistribuicao` VALUES (1,'Centro 1',1,2),(2,'Centro 2',2,4),(3,'Centro 3',3,7),(4,'Centro 4',4,11),(5,'Centro 5',5,13),(6,'Centro 6',6,16),(7,'Centro 7',7,19);
/*!40000 ALTER TABLE `centrosdistribuicao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cidades`
--

DROP TABLE IF EXISTS `cidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cidades` (
  `id_cidade` int NOT NULL,
  `nm_cidade` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id_cidade`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cidades`
--

LOCK TABLES `cidades` WRITE;
/*!40000 ALTER TABLE `cidades` DISABLE KEYS */;
INSERT INTO `cidades` VALUES (1,'Rio de Janeiro'),(2,'Sao Goncalo'),(3,'Duque de Caxias'),(4,'Sao Paulo'),(5,'Guarulhos'),(6,'Campinas'),(7,'Belo Horizonte'),(8,'Uberlandia'),(9,'Contagem'),(10,'Vitoria'),(11,'Serra'),(12,'Vila Velha'),(13,'Curitiba'),(14,'Londrina'),(15,'Maringa'),(16,'Joinville'),(17,'Florianopolis'),(18,'Blumenau'),(19,'Porto Alegre'),(20,'Caxias do Sul'),(21,'Canoas');
/*!40000 ALTER TABLE `cidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `id_cliente` int NOT NULL AUTO_INCREMENT,
  `nome_cliente` varchar(100) DEFAULT NULL,
  `tipo_cliente` varchar(20) DEFAULT NULL,
  `id_cidade` int DEFAULT NULL,
  `id_estado` int DEFAULT NULL,
  PRIMARY KEY (`id_cliente`),
  KEY `fk_clientes_cidades1_idx` (`id_cidade`),
  KEY `fk_clientes_estados1_idx` (`id_estado`),
  CONSTRAINT `fk_clientes_cidades1` FOREIGN KEY (`id_cidade`) REFERENCES `cidades` (`id_cidade`),
  CONSTRAINT `fk_clientes_estados1` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estados`)
) ENGINE=InnoDB AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encomendas`
--

DROP TABLE IF EXISTS `encomendas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encomendas` (
  `id_encomenda` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `peso` decimal(10,2) DEFAULT NULL,
  `volume` decimal(10,2) DEFAULT NULL,
  `id_tiposervico` int NOT NULL,
  `data_postagem` date DEFAULT NULL,
  `valor_frete` decimal(10,2) DEFAULT NULL,
  `data_prevista_entrega` date DEFAULT NULL,
  PRIMARY KEY (`id_encomenda`),
  KEY `fk_cliente` (`id_cliente`),
  KEY `fk_tipoServico` (`id_tiposervico`),
  CONSTRAINT `fk_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`),
  CONSTRAINT `fk_tipoServico` FOREIGN KEY (`id_tiposervico`) REFERENCES `tiposervico` (`id_tipoServico`)
) ENGINE=InnoDB AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encomendas`
--

LOCK TABLES `encomendas` WRITE;
/*!40000 ALTER TABLE `encomendas` DISABLE KEYS */;
/*!40000 ALTER TABLE `encomendas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entregas`
--

DROP TABLE IF EXISTS `entregas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entregas` (
  `id_entrega` int NOT NULL AUTO_INCREMENT,
  `id_encomenda` int NOT NULL,
  `data_saida_entrega` datetime DEFAULT NULL,
  `data_entrega` datetime DEFAULT NULL,
  `id_situacao` int NOT NULL,
  PRIMARY KEY (`id_entrega`),
  KEY `fk_situacao_entregas` (`id_situacao`),
  KEY `fk_encomenda_entregas` (`id_encomenda`),
  CONSTRAINT `fk_encomenda_entregas` FOREIGN KEY (`id_encomenda`) REFERENCES `encomendas` (`id_encomenda`),
  CONSTRAINT `fk_situacao_entregas` FOREIGN KEY (`id_situacao`) REFERENCES `situacoeentregas` (`id_situacao`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entregas`
--

LOCK TABLES `entregas` WRITE;
/*!40000 ALTER TABLE `entregas` DISABLE KEYS */;
/*!40000 ALTER TABLE `entregas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados`
--

DROP TABLE IF EXISTS `estados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados` (
  `id_estados` int NOT NULL,
  `nm_estado` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id_estados`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados`
--

LOCK TABLES `estados` WRITE;
/*!40000 ALTER TABLE `estados` DISABLE KEYS */;
INSERT INTO `estados` VALUES (1,'Rio de Janeiro'),(2,'Sao Paulo'),(3,'Minas Gerais'),(4,'Espirito Santo'),(5,'Parana'),(6,'Santa Catarina'),(7,'Rio Grande do Sul');
/*!40000 ALTER TABLE `estados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `motoristas`
--

DROP TABLE IF EXISTS `motoristas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `motoristas` (
  `id_motorista` int NOT NULL AUTO_INCREMENT,
  `nm_motorista` varchar(100) DEFAULT NULL,
  `dt_contratacao` date DEFAULT NULL,
  `id_centro_base` int DEFAULT NULL,
  PRIMARY KEY (`id_motorista`),
  KEY `fk_centro` (`id_centro_base`),
  CONSTRAINT `fk_centro` FOREIGN KEY (`id_centro_base`) REFERENCES `centrosdistribuicao` (`id_centro`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `motoristas`
--

LOCK TABLES `motoristas` WRITE;
/*!40000 ALTER TABLE `motoristas` DISABLE KEYS */;
/*!40000 ALTER TABLE `motoristas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimentacoes_encomenda`
--

DROP TABLE IF EXISTS `movimentacoes_encomenda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movimentacoes_encomenda` (
  `id_movimentacao` int NOT NULL AUTO_INCREMENT,
  `id_encomenda` int NOT NULL,
  `id_centro` int NOT NULL,
  `id_situacao` int NOT NULL,
  `data_evento` datetime DEFAULT NULL,
  PRIMARY KEY (`id_movimentacao`),
  KEY `fk_situacao` (`id_situacao`),
  KEY `fk_encomenda` (`id_encomenda`),
  KEY `fk_centro_entregas` (`id_centro`),
  CONSTRAINT `fk_centro_entregas` FOREIGN KEY (`id_centro`) REFERENCES `centrosdistribuicao` (`id_centro`),
  CONSTRAINT `fk_encomenda` FOREIGN KEY (`id_encomenda`) REFERENCES `encomendas` (`id_encomenda`),
  CONSTRAINT `fk_situacao` FOREIGN KEY (`id_situacao`) REFERENCES `situacoesmovimentacao` (`id_situacao`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimentacoes_encomenda`
--

LOCK TABLES `movimentacoes_encomenda` WRITE;
/*!40000 ALTER TABLE `movimentacoes_encomenda` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimentacoes_encomenda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rotas`
--

DROP TABLE IF EXISTS `rotas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rotas` (
  `id_rota` int NOT NULL AUTO_INCREMENT,
  `id_centro_origem` int NOT NULL,
  `id_centro_destino` int NOT NULL,
  `distancia_km` int DEFAULT NULL,
  `tempo_estimado` int DEFAULT NULL,
  PRIMARY KEY (`id_rota`),
  KEY `fk_centroOrigem` (`id_centro_origem`),
  KEY `fk_centroDestino` (`id_centro_destino`),
  CONSTRAINT `fk_centroDestino` FOREIGN KEY (`id_centro_destino`) REFERENCES `centrosdistribuicao` (`id_centro`),
  CONSTRAINT `fk_centroOrigem` FOREIGN KEY (`id_centro_origem`) REFERENCES `centrosdistribuicao` (`id_centro`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rotas`
--

LOCK TABLES `rotas` WRITE;
/*!40000 ALTER TABLE `rotas` DISABLE KEYS */;
INSERT INTO `rotas` VALUES (1,1,2,456,396),(2,3,4,538,570),(3,5,6,130,130),(4,6,7,617,455),(5,2,3,587,520),(6,2,1,456,396),(7,4,3,538,570),(8,6,5,130,130),(9,7,6,617,455),(10,3,2,587,520);
/*!40000 ALTER TABLE `rotas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `situacoeentregas`
--

DROP TABLE IF EXISTS `situacoeentregas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `situacoeentregas` (
  `id_situacao` int NOT NULL AUTO_INCREMENT,
  `desc_situacao` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_situacao`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `situacoeentregas`
--

LOCK TABLES `situacoeentregas` WRITE;
/*!40000 ALTER TABLE `situacoeentregas` DISABLE KEYS */;
INSERT INTO `situacoeentregas` VALUES (1,'Entregue'),(2,'Atraso'),(3,'Destinatario ausente');
/*!40000 ALTER TABLE `situacoeentregas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `situacoesmovimentacao`
--

DROP TABLE IF EXISTS `situacoesmovimentacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `situacoesmovimentacao` (
  `id_situacao` int NOT NULL AUTO_INCREMENT,
  `desc_situacao` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_situacao`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `situacoesmovimentacao`
--

LOCK TABLES `situacoesmovimentacao` WRITE;
/*!40000 ALTER TABLE `situacoesmovimentacao` DISABLE KEYS */;
INSERT INTO `situacoesmovimentacao` VALUES (1,'Recebido'),(2,'Aguardando triagem'),(3,'Em separacao'),(4,'Em rota');
/*!40000 ALTER TABLE `situacoesmovimentacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiposervico`
--

DROP TABLE IF EXISTS `tiposervico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tiposervico` (
  `id_tipoServico` int NOT NULL AUTO_INCREMENT,
  `desc_TipoServico` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_tipoServico`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiposervico`
--

LOCK TABLES `tiposervico` WRITE;
/*!40000 ALTER TABLE `tiposervico` DISABLE KEYS */;
INSERT INTO `tiposervico` VALUES (1,'Normal'),(2,'Expressa'),(3,'Economica');
/*!40000 ALTER TABLE `tiposervico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiposveiculos`
--

DROP TABLE IF EXISTS `tiposveiculos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tiposveiculos` (
  `id_tipoveiculo` int NOT NULL AUTO_INCREMENT,
  `desc_tipoveiculo` varchar(50) NOT NULL,
  PRIMARY KEY (`id_tipoveiculo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiposveiculos`
--

LOCK TABLES `tiposveiculos` WRITE;
/*!40000 ALTER TABLE `tiposveiculos` DISABLE KEYS */;
INSERT INTO `tiposveiculos` VALUES (1,'Caminhao VUC'),(2,'Caminhao Toco'),(3,'Caminhao Truck'),(4,'Van'),(5,'Picape');
/*!40000 ALTER TABLE `tiposveiculos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `veiculos`
--

DROP TABLE IF EXISTS `veiculos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veiculos` (
  `id_veiculo` int NOT NULL AUTO_INCREMENT,
  `id_tipoveiculo` int NOT NULL,
  `capacidade_peso` int DEFAULT NULL,
  `capacidade_volume` int DEFAULT NULL,
  `ano` int DEFAULT NULL,
  PRIMARY KEY (`id_veiculo`),
  KEY `fk_tipoveiculo` (`id_tipoveiculo`),
  CONSTRAINT `fk_tipoveiculo` FOREIGN KEY (`id_tipoveiculo`) REFERENCES `tiposveiculos` (`id_tipoveiculo`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `veiculos`
--

LOCK TABLES `veiculos` WRITE;
/*!40000 ALTER TABLE `veiculos` DISABLE KEYS */;
INSERT INTO `veiculos` VALUES (1,1,8300,42,2014),(2,1,8300,42,2015),(3,1,8300,41,2015),(4,1,8300,40,2014),(5,1,8300,42,2015),(6,1,8300,39,2015),(7,2,23000,70,2011),(8,2,23000,70,2012),(9,2,17500,68,2012),(10,3,80000,109,2013),(11,3,80000,109,2014),(12,3,80000,109,2012);
/*!40000 ALTER TABLE `veiculos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `viagens`
--

DROP TABLE IF EXISTS `viagens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `viagens` (
  `id_viagem` int NOT NULL AUTO_INCREMENT,
  `id_rota` int NOT NULL,
  `id_motorista` int NOT NULL,
  `id_veiculo` int NOT NULL,
  `data_saida` datetime DEFAULT NULL,
  `data_chegada_prevista` datetime DEFAULT NULL,
  `data_chegada_real` datetime DEFAULT NULL,
  PRIMARY KEY (`id_viagem`),
  KEY `fk_rota` (`id_rota`),
  KEY `fk_motorista` (`id_motorista`),
  KEY `fk_veiculo` (`id_veiculo`),
  CONSTRAINT `fk_motorista` FOREIGN KEY (`id_motorista`) REFERENCES `motoristas` (`id_motorista`),
  CONSTRAINT `fk_rota` FOREIGN KEY (`id_rota`) REFERENCES `rotas` (`id_rota`),
  CONSTRAINT `fk_veiculo` FOREIGN KEY (`id_veiculo`) REFERENCES `veiculos` (`id_veiculo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `viagens`
--

LOCK TABLES `viagens` WRITE;
/*!40000 ALTER TABLE `viagens` DISABLE KEYS */;
INSERT INTO `viagens` VALUES (1,6,5,7,'2013-04-06 08:00:00','2013-04-06 17:00:00','2013-04-06 16:56:00'),(2,10,11,8,'2013-04-13 08:15:00','2013-04-13 18:00:00','2013-04-13 19:05:00'),(3,5,6,9,'2013-04-27 08:00:00','2013-04-27 17:45:00','2013-04-27 17:42:00'),(4,2,9,10,'2013-05-04 08:10:00','2013-05-04 18:40:00','2013-05-04 19:02:00'),(5,8,21,12,'2013-05-11 08:00:00','2013-05-11 10:10:00','2013-05-11 10:00:00');
/*!40000 ALTER TABLE `viagens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `viagens_encomendas`
--

DROP TABLE IF EXISTS `viagens_encomendas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `viagens_encomendas` (
  `viagens_id_viagem` int NOT NULL,
  `encomendas_id_encomenda` int NOT NULL,
  PRIMARY KEY (`viagens_id_viagem`,`encomendas_id_encomenda`),
  KEY `fk_viagens_encomendas_encomendas1_idx` (`encomendas_id_encomenda`),
  CONSTRAINT `fk_viagens_encomendas_encomendas1` FOREIGN KEY (`encomendas_id_encomenda`) REFERENCES `encomendas` (`id_encomenda`),
  CONSTRAINT `fk_viagens_encomendas_viagens1` FOREIGN KEY (`viagens_id_viagem`) REFERENCES `viagens` (`id_viagem`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `viagens_encomendas`
--

LOCK TABLES `viagens_encomendas` WRITE;
/*!40000 ALTER TABLE `viagens_encomendas` DISABLE KEYS */;
INSERT INTO `viagens_encomendas` VALUES (1,1),(1,2),(1,3),(2,4),(2,5),(2,6),(3,7),(3,8),(3,9),(4,10),(4,11),(4,12),(5,13),(5,14),(5,15);
/*!40000 ALTER TABLE `viagens_encomendas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-16 17:34:46
